<?xml version="1.0" encoding="utf-8"?>
<!-- NuGetForUnity restores these into Assets/Packages/ on load (or NuGet > Restore Packages). -->
<packages>
  <package id="BeeneticToolkit.Random" version="0.8.2" manuallyInstalled="true" />
  <package id="BeeneticToolkit.Collections" version="0.8.2" manuallyInstalled="true" />
  <package id="BeeneticToolkit.Numerics" version="0.8.2" manuallyInstalled="true" />
  <package id="BeeneticToolkit.Logging" version="0.8.2" manuallyInstalled="true" />
  <package id="BeeneticToolkit.Spatial" version="0.8.2" manuallyInstalled="true" />
</packages>
